@import '../../global/shared.scss';

.container {
  width: $content-width;
  border-radius: 1rem;
  margin: auto;
  display: flex;
  align-items: center;

  color: $white;
  text-align: justify;
}

.pageContent {
  padding: $content-padding;
  margin: 2rem 0;
}

.pageHead {
  font-size: 3rem;
  font-weight: 700;
  max-width: 100%;
  text-align: center;
  margin-bottom: 1.25rem;
}

.mainInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1.25rem;

  .personalImage {
    width: 10rem;
    height: auto;
    border-radius: 50%;
    border: 0.25rem solid $secondary;
  }

  .personalMessage {
    font-size: 1.5rem;

    max-width: 100%;
    padding-left: 0.75rem;
  }
}

.subInfo {
  p {
    margin-top: 1rem;
  }
}

.links {
  max-width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 1.25rem;

  button {
    svg {
      font-size: 2rem;
      color: $white;
      transition: color 0.25s $base-bezier;
    }
  }

  button:hover {
    svg {
      color: $secondary;
      transition: color 0.25s $base-bezier;
    }
  }

  .resume {
    flex: 0 0 12.5%;
    text-align: left;
  }

  .contact {
    flex: 0 0 12.5%;
    text-align: right;
  }

  .social {
    flex: 0 0 75%;
    text-align: center;
  }
}

@media only screen and (max-width: $large-screen) {
  .container {
    width: $content-width-medium;
  }
}

@media only screen and (max-width: $medium-screen) {
  .container {
    width: $content-width-small;
  }
}

@media only screen and (max-width: $small-screen) {
  .container {
    width: $content-width-xsmall;
    border-radius: 0;
    padding: 0;
  }

  .pageContent {
    padding: 1.25rem;
  }

  .mainInfo {
    flex-direction: column;

    .personalImage {
      width: 7rem;
      border: 0.25rem solid $secondary;
      margin-bottom: 1rem;
    }

    .personalMessage {
      padding-left: 0;
      font-size: 1.325rem;
    }
  }

  .subInfo {
    p {
      margin-top: 0.5rem;
    }
  }

  .links {
    button {
      svg {
        font-size: 1.5rem;
      }
    }
    button:hover {
      svg {
        color: $white;
      }
    }
  }
}

@media only screen and (max-width: $xsmall-screen) {
  .container {
    width: $content-width-xsmall;
    border-radius: 0;
  }
  .mainInfo {
    flex-direction: column;

    .personalImage {
      width: 7rem;
      border: 0.25rem solid $secondary;
      margin-bottom: 1rem;
    }

    .personalMessage {
      padding-left: 0;
    }
  }

  .subInfo {
    p {
      margin-top: 0.5rem;
    }
  }
}
