@use 'shared' as sharedStyles;

.tag {
  background-color: sharedStyles.$surface;
  color: sharedStyles.$secondary;

  margin-right: 0.5rem;
  border-radius: 5rem;
  padding: 0.25rem 0.5rem;

  text-decoration: none;
}

.tag:hover {
  background-color: sharedStyles.$lighten-background;
}

@media screen and (max-width: sharedStyles.$medium-screen) {
  .container {
    max-width: 100%;
  }
  .tag {
    display: inline-block;
  }
}
