.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  background: rgb(2, 0, 36);
  background: linear-gradient(
    0deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 67%,
    rgba(0, 212, 255, 1) 100%
  );
}

.heading {
  text-align: center;
  color: #fff;

  .name {
    font-size: 5rem;
    font-weight: 600;
  }

  .title {
    font-size: 3rem;
  }
}
