@import '../../global//shared.scss';

.content {
  margin-top: 1rem;
  .stats {
    margin-top: 0.875rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    .badgeContainer {
      margin-bottom: 0.87rem;
      img {
        margin-left: 1rem;
      }
    }
  }
}

@media screen and (max-width: $large-screen) {
  .content {
    flex-direction: column;
  }
  @media screen and (max-width: $small-screen) {
  }
}
