@use 'shared' as sharedStyles;

.content {
  margin-top: 1rem;
  .stats {
    margin: 1.25rem auto;
    img {
      display: block;
      margin: 0 auto;
      max-width: 60%;
    }
  }
}

@media screen and (max-width: sharedStyles.$large-screen) {
  .container {
    margin-top: 3rem;
  }
  .content {
    .stats {
      img {
        max-width: 100%;
      }
    }
  }
}
