@import '../../global//shared.scss';

.content {
  margin-top: 1rem;
  .stats {
    margin-top: 1.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: $large-screen) {
  .container {
    margin-top: 3rem;
  }
  .content {
    flex-direction: column;
    .gitHubStats {
      width: 100%;
      img {
        width: 100%;
      }
    }
  }
}
