@import '../../global/shared.scss';

.NavigationToggle {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.NavigationToggleBurger {
  width: 2rem;
  height: 0.25rem;
  background: $primary;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}

.NavigationToggleBurger::before,
.NavigationToggleBurger::after {
  content: '';
  position: absolute;
  width: 2rem;
  height: 0.25rem;
  margin-left: calc(-50%);
  background: $primary;
  border-radius: 0.3125rem;
  transition: all 0.5s ease-in-out;
}

.NavigationToggleBurger::before {
  transform: translateY(-0.75rem);
}

.NavigationToggleBurger::after {
  transform: translateY(0.75rem);
}

.NavigationToggle.open .NavigationToggleBurger {
  transform: translateX(-3.125rem);
  background: transparent;
  box-shadow: none;
}
.NavigationToggle.open .NavigationToggleBurger::before {
  transform: rotate(45deg) translate(2.1875rem, -2.1875rem);
}
.NavigationToggle.open .NavigationToggleBurger::after {
  transform: rotate(-45deg) translate(2.1875rem, 2.1875rem);
}
