/* COLORS */
$background: #121212;
$surface: rgba(255, 255, 255, 0.05);
$white: #fff;
$primary: #bb86fc;
$primary-variant: #3700b3;
$secondary: #03dac5;

/* WIDTHS */
$content-width-xsmall: auto;
$content-width-small: 46.875rem; //750px
$content-width-medium: 60.625rem; //970px
$content-width: 73.125rem; // 1170px

/* PADDINGS */
$content-padding: 0 2.25rem;

/* TRANSITIONS */
$base-bezier: cubic-bezier(0.53, 0.16, 0.62, 1.02);

/* SCREEN WIDTHS */
$xsmall-screen: 36rem; //576px
$small-screen: 48rem; //768px
$medium-screen: 62rem; //992px
$large-screen: 75rem; //1200px
