/* COLORS */
$background: #121212;
$surface: rgba(255, 255, 255, 0.05);
$white: #fff;
$primary: #bb86fc;
$primary-variant: #3700b3;
$secondary: #03dac5;

/* WIDTHS */
$content-container-width: 71.25rem;
$content-padding: 0 7.25rem;
