/* COLORS */
$background: #121212;
$surface: rgba(255, 255, 255, 0.05);
$white: #fff;
$primary: #bb86fc;
$primary-variant: #3700b3;
$secondary: #03dac5;

/* WIDTHS */
$content-width: 71.25rem;

/* PADDINGS */
$content-padding: 0 2.25rem;

/* TRANSITIONS */
$base-bezier: cubic-bezier(0.53, 0.16, 0.62, 1.02);
