/* ------------- BASIC SETUP -------------- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 20px;
    word-spacing: 120%;
    font-family: 'Raleway', sans-serif;
    height: 100vh;
}

section h2, footer h2{
    text-align: center;
    font-size: 200%;
    margin: 140px auto 0 auto;
    padding-bottom: 5px;
    border-bottom: 3px solid #e67e22;
}

.btn {
    width: 150px;
    margin: 20px auto 10px auto;

    border: 0px;
    border-radius: 25px;
    color: #fff;

    display: block;
    font-size: 120%;
    background-color: #e67e22;
    transition: background-color 0.5s,border 0.5s, color 0.5s;
}

.button:hover,.button-ghost:hover{
    background-color: #cf6d17;
    color: #fff;
    border: 0px;
}

.button-ghost{
    width: 150px;
    margin: 20px auto 10px auto;

    border: 0px;
    border-radius: 25px;
    color: #e67e22;

    display: block;
    font-size: 120%;
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid #e67e22;
}



/* ------------- HEADER -------------- */
.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/coding.jpg");
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.hero-text{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.hero-text h1{
    font-size: 350%;
    padding-bottom: 5px;
    border-bottom: 3px solid #e67e22;
}

.hero-text p{
    font-size: 120%;
    font-weight: 100;
    margin-top: 10px;
}

.hero ion-icon{
    padding-top: 550px;
    display: block;
    margin: 0px auto 0px auto;
    font-size:200%;
    opacity: .8;
    color: #fff;
}

/* ------------- ABOUT -------------- */
.about{
    width:  40%;
    margin: 0 auto;
}

.about .title-container{
    width: 200px;
    margin: 0px auto;
}

.about img{
    display: block;
    width: 150px;
    height: auto;
    border-radius: 50%;

    margin: 30px auto ;
}

.about p{
    text-align: justify;
    margin: 7px 0px;
}




/* ------------- My Work -------------- */
.my-work{
    margin-top: 190px !important;
}

.my-work .title-container{
    width: 200px;
    margin: 0px auto;
}

.projects{
    margin-top: 50px;
}

.projects .card{
    margin: 15px 15px;
}

.projects .button, .projects .button-ghost{
    font-size: 100%;
    width: 150px;
}

.check-more .button{
    text-align: center;
    margin-top: 50px;
    width: 189px;
}


/* ------------- Contact Me -------------- */
footer{
    margin-top: 150px;
}

footer .title-container{
    width: 300px;
    margin: 0 auto;
}

footer .about{
    margin-top: 25px;
    text-align: justify;
    width: 450px;
}

.contact-me{
    width: 172px;
    font-size: 120%;
    margin:40px auto ;
}


/* ------------- Media Queries -------------- */
@media only screen and (max-width: 768px) {
    .about{
        width: 95%;
    }
    .projects .card{
        margin: 15px 0px;
        padding: 0px 0px;
    }

    .hero-text h1{
        font-size: 200%;
    }
}
@media only screen and (max-width: 1200px) {
    .about{
        width: 70%;
    }
}

/* ------------- Animations -------------- */
.projects,
.about-me{
    opacity: 0;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
}

.projects.animated,
.about-me.animated {
    opacity: 1;
}