@import '../../global/shared.scss';

.container {
  font-weight: 500;
  a {
    text-decoration: none;
  }
}

.navigationLinks {
  margin-right: 1.5rem;
  font-size: 1rem;
  color: $secondary;
  transition: color 0.15s $base-bezier;
}

.navigationLinks:hover {
  color: $primary;
  transition: color 0.15s $base-bezier;
}

.linkButton {
  color: $primary;
  font-size: 1.25rem;
  padding: 0.5rem 0.75rem;
  border: 1px solid $primary;
  border-radius: 0.5rem;
}

.toggle {
  display: none;

  right: 1rem;
  top: 0.5rem;

  z-index: 1;

  button svg {
    color: $primary;
    z-index: 1;
    font-size: 2rem;
  }
}
