@import '../../global/shared.scss';

.container {
  height: 100vh;
  width: 3.25rem;

  display: flex;
  flex-direction: column;
  justify-content: center;

  button {
    color: $white;

    svg {
      font-size: 1.75rem;
      transition: font-size 0.125s $base-bezier;
    }
  }

  button:hover {
    background-color: $surface;

    svg {
      font-size: 2.5rem;
      transition: font-size 0.125s $base-bezier;
    }
  }
}
