@use 'shared' as sharedStyles;

.container {
  font-weight: 500;
  a {
    text-decoration: none;
    margin-right: 1.5rem;
    font-size: 1rem;
  }
}

ol {
  display: flex;
  align-items: baseline;
  list-style-type: none;

  li {
    opacity: 0;
    animation: fadeInDown 0.25s sharedStyles.$base-bezier both;

    a {
      color: sharedStyles.$primary;
      transition: color 0.1s sharedStyles.$base-bezier;
    }

    a:hover {
      color: sharedStyles.$secondary;
      transition: color 0.1s sharedStyles.$base-bezier;
    }
  }

  .linkButton {
    a {
      color: sharedStyles.$accent;
      padding: 0.75rem 1.75rem;
      border: 1px solid sharedStyles.$accent;
      border-radius: 0.5rem;
    }
  }
}

.toggle {
  display: none;
  button svg {
    color: sharedStyles.$primary;
    font-size: 2rem;
  }
}

@media screen and (max-width: sharedStyles.$xsmall-screen) {
  .toggle {
    display: block;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100vh;
    width: 15rem;
    right: -18rem;

    z-index: -1 !important;
    position: fixed;
    top: 0;
    transition: right 0.25s sharedStyles.$base-bezier;

    background-color: sharedStyles.$surface;

    a {
      margin: 0;
      font-size: 1.325rem;
    }

    nav {
      ol {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        li {
          margin-top: 0.75rem;
        }

        .linkButton {
          margin-top: 2rem;
        }
      }
    }
  }
  .openMenu {
    right: 0;
    transition: right 0.25s sharedStyles.$base-bezier;
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -50%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
