@use 'shared' as sharedStyles;

.blogInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.title {
  margin: 1rem 0 2rem;
  font-size: 2.25rem;
  font-weight: 800;
  text-align: center;
}

.headerImage {
  max-width: 95%;
  display: block;
  margin: 0 auto;
}

.textContainer {
  h1 {
    margin: 1.75rem 0;
  }

  h2 {
    margin: 1.5rem 0;
  }

  p {
    margin-bottom: 1rem;
  }

  pre,
  code {
    margin-bottom: 1rem;
  }

  img {
    display: block;
    margin: 0 auto 1rem;
  }
}

@media screen and (max-width: sharedStyles.$medium-screen) {
  .textContainer {
    * {
      justify-content: center;
      margin: 0 0.5rem;
    }

    pre,
    code {
      margin: 1rem;
    }
  }
}
