@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import './global/shared.scss';

html,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.125rem;
  background-color: $background;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar-track {
  opacity: 0;
}

::-webkit-scrollbar {
  width: 0.75rem;
}

::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 0.625rem;
}

section {
  h2 {
    font-size: 2rem;
  }
  opacity: 0;
  position: relative;
  z-index: -1;
}

.show {
  animation: fadeInUp 0.5s $base-bezier both;
}

@media screen and (max-width: $xsmall-screen) {
  section {
    padding: 0 0.75rem;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 1rem, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
