@import '../../global//shared.scss';

.content {
  display: flex;
  flex-direction: row;

  img {
    width: 100%;
    border-radius: 0.25rem;
    position: relative;
  }

  .imageContainer {
    margin: 1rem 1rem 0 2.5rem;
  }

  .imageWrapper {
    display: inline-block;
    position: relative;
    width: 14rem;
    height: 14rem;

    img {
      position: relative;
      z-index: -1;
    }
  }

  .imageWrapper::after {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 1rem;
    left: 1rem;
    transition: all 0.25s $base-bezier;

    border: 0.25rem solid $primary;
    border-radius: 0.25rem;

    content: '';
    z-index: -2;
  }

  .imageWrapper:hover:after {
    top: 0.5rem;
    left: 0.5rem;
    transition: all 0.25s $base-bezier;
  }

  .text {
    p {
      margin-top: 0.75rem;
    }
    max-width: 40rem;

    ul {
      margin: 0.5rem 0.25rem 0;
      columns: 2;
      -webkit-columns: 2;
      -moz-columns: 2;

      width: 25rem;
      list-style: none;

      li {
        width: 15rem;
      }
      li::before {
        content: '\2666';
        color: $primary;
        font-weight: bold;
        display: inline-block;
        width: 1rem;
        margin-left: 0;
      }
    }
  }
}

@media screen and (max-width: $medium-screen) {
  .content {
    flex-direction: column;

    .imageContainer {
      display: flex;
      justify-content: center;
      margin: 1rem 0 0;
    }

    p {
      margin-top: 1rem !important;
      width: 100%;
      text-align: justify;
    }

    ul {
      width: 100% !important;
    }

    .imageWrapper {
      margin-top: 1.5rem;
    }
  }
}

@media screen and (max-width: $small-screen) {
  .imageWrapper {
    width: 13rem !important;
    height: 13rem !important;
  }
}
